<% if (success) { %>
    <div class='alert alert-success'><%= success %></div>
<% } %>
<% if (error) { %>
    <div class='alert alert-danger'><%= error %></div>
<% } %>
<script src="/javascripts/jquery.min.js"></script>
<script src='/javascripts/bootstrap.js'></script>
<script src="/javascripts/lihebi.js"></script>
</body>
</html>
