<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name='description' content='方便快捷的租车平台。'>
</head>
<body>
<a class='sr-only' href='#content'>skip to main content</a>
<div id='header' class='navbar-inverse navbar'>
    <div class='col-md-2'>
	<a href='./' class='navbar-brand'>zuchefeng</a>
    </div>
    <div class='col-md-6'>
	<ul class='nav navbar-nav'>
	    <li class='active'><a href='./travel'>自驾旅游</a></li>
	    <li><a href='./business'>商务用车</a></li>
	    <li><a href='./wedding'>婚庆典礼</a></li>
	</ul>
    </div>
    <%- include login %>
    <div class='col-md-4'>
	<ul class='nav navbar-nav navbar-right'>
	    <li><a href='#myModal' data-toggle='modal' id='loginbtn'>登录</a></li>
	    <li><a href='#myModal' data-toggle='modal' id='regbtn'>注册</a></li>
	    <li class='dropdown'>
	    <a href='#' data-toggle='dropdown' class='dropdown-toggle'>帮助<strong class='caret'></strong></a>
	    <ul class='dropdown-menu'>
		<li><a href='#'>流程</a></li>
		<li><a href='#'>关于我们</a></li>
	    </ul>
	    </li>
	</ul>
    </div>
</div> <!-- header -->
