<%- include header %>

<div id='content' class='jumbotron'>
    <h1>租车风</h1>
    <h1><small>方便快捷的租车平台，今天你租车了吗？</small></h1>
    <ul>
	<li>统一的平台，找车再不用百度！</li>
	<li>用户评论系统，让全国人民帮你选！</li>
    </ul>
    <ul id='jumbotronnbutton' class='list-unstyled list-inline'>
	<li><a href='./travel' class='btn btn-primary btn-lg'>自驾旅游</a></li>
	<li><a href='./business' class='btn btn-primary btn-lg'>商务用车</a></li>
	<li><a href='./wedding' class='btn btn-primary btn-lg'>婚庆典礼</a></li>
    </ul>
</div>

<%- include footer %>
