<!DOCTYPE html>
<div id='header' class='navbar-inverse navbar'>
    <div class='col-md-2'>
	<a href='/' class='navbar-brand'>zuchefeng</a>
    </div>
    <div class='col-md-6'>
	<ul class='nav navbar-nav'>
	    <li id='navbartravel'><a href='/travel'>自驾旅游</a></li>
	    <li id='navbarbusiness'><a href='/business'>商务用车</a></li>
	    <li id='navbarwedding'><a href='/wedding'>婚庆典礼</a></li>
	    <li id='navbarbycicle'><a href='/bycicle'>单车旅途</a></li>
	</ul>
    </div>
    <div class='col-md-4'>
	<ul class='nav navbar-nav navbar-right'>
	    <% if (user) { %>
	    <li id='navbarlogin'><a href='/me' id='loginbtn'><%- user.email %></a></li>
	    <li id='navbarreg'><a href='/logout' id='regbtn'>退出</a></li>
	    <% } else {%>
	    <li id='navbarlogin'><a href='/login' id='loginbtn'>登录</a></li>
	    <li id='navbarreg'><a href='/reg' id='regbtn'>注册</a></li>
	    <% } %>
	    <li class='dropdown'>
	    <a href='#' data-toggle='dropdown' class='dropdown-toggle'>帮助<strong class='caret'></strong></a>
	    <ul class='dropdown-menu'>
		<li><a href='#'>流程</a></li>
		<li><a href='#'>关于我们</a></li>
	    </ul>
	    </li>
	</ul>
    </div>
</div> <!-- header -->
