<%- include header %>
<div class='row' id='limit'>
    <div class='col-md-12'>
	<div class='row'>
	    <div class='col-md-3'>
		<p>车型</p>
	    </div>
	    <div class='col-md-9'>
		<span>大</span>
		<span>中</span>
		<span>小</span>
	    </div>
	</div>
	<div class='row'>
	    <div class='col-md-3'>
		<p>品牌</p>
	    </div>
	    <div class='col-md-9'>
		<span>BMW</span>
		<span>奔驰</span>
	    </div>
	</div>
    </div>
</div> <!-- limit -->
<div class='row' id='control'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-3'>
	<p>按价格升序</p>
    </div>
    <div class='col-md-3'>
	<p>按销量</p>
    </div>
    <div class='col-md-3'>
	<p>按评价</p>
    </div>
</div> <!-- control -->
<div class='row' id='items'>
</div> <!-- items -->

<%- include footer %>
