<!DOCTYPE html>
<%- include header %>
<div class='row' id='limits'>
    <div class='col-md-12'>
	<div class='row'>
	    <div class='col-md-1 col-md-offset-2'>
		<span class='btn disabled'>车型</span>
	    </div>
	    <div class='col-md-7'>
		<div class='btn-group'>
		    <a type='button' data-toggle='buttons' class='btn'>大</a>
		    <a type='button' data-toggle='buttons' class='btn'>中</a>
		    <a type='button' data-toggle='buttons' class='btn'>小</a>
		</div>
	    </div>
	</div>
	<div class='row'>
	    <div class='col-md-1 col-md-offset-2'>
		<span class='btn disabled'>品牌</span>
	    </div>
	    <div class='col-md-7'>
		<div class='btn-group'>
		    <a type='button' data-toggle='buttons' class='btn'>宝马</a>
		    <a type='button' data-toggle='buttons' class='btn'>奔驰</a>
		    <a type='button' data-toggle='buttons' class='btn'>奥迪</a>
		    <a type='button' data-toggle='buttons' class='btn'>大众</a>
		    <a type='button' data-toggle='buttons' class='btn'>丰田</a>
		    <a type='button' data-toggle='buttons' class='btn'>本田</a>
		    <a type='button' data-toggle='buttons' class='btn'>现代</a>
		    <a type='button' data-toggle='buttons' class='btn'>比亚迪</a>
		</div>
	    </div>
	</div>
    </div>
</div> <!-- limit -->
<div class='row' id='control'>
    <div class='col-md-12'>
	<ul class='nav nav-pills'>
	    <li class='active'> <a href='#'>综合</a> </li>
	    <li> <a href='#'>按价格升序</a> </li>
	    <li> <a href='#'>按销量</a> </li>
	    <li> <a href='#'>按评价</a> </li>
	</ul>
    </div>
</div> <!-- control -->
<div class='container' id='items'>
    <div class='row'>
	<div class='col-md-3'>
	    <p>图片</p>
	    <p>描述</p>
	</div>
	<div class='col-md-3'>
	    <p><strong>￥119</strong></p>
	    <p>安徽合肥 蜀山区</p>
	</div>
	<div class='col-md-3'>
	    <p>30天内<strong>18</strong>人使用</p>
	    <p><a href='#'>62条评论</a></p>
	</div>
	<div class='col-md-3'>
	    <p>租车公司：合肥天运租车</p>
	</div>
    </div> <!-- items -->
    <div class='row'>
	<div class='col-md-3'>
	    <p>图片</p>
	    <p>描述</p>
	</div>
	<div class='col-md-3'>
	    <p><strong>￥119</strong></p>
	    <p>安徽合肥 蜀山区</p>
	</div>
	<div class='col-md-3'>
	    <p>30天内<strong>18</strong>人使用</p>
	    <p><a href='#'>62条评论</a></p>
	</div>
	<div class='col-md-3'>
	    <p>租车公司：合肥天运租车</p>
	</div>
    </div> <!-- items -->
    <div class='row'>
	<div class='col-md-3'>
	    <p>图片</p>
	    <p>描述</p>
	</div>
	<div class='col-md-3'>
	    <p><strong>￥119</strong></p>
	    <p>安徽合肥 蜀山区</p>
	</div>
	<div class='col-md-3'>
	    <p>30天内<strong>18</strong>人使用</p>
	    <p><a href='#'>62条评论</a></p>
	</div>
	<div class='col-md-3'>
	    <p>租车公司：合肥天运租车</p>
	</div>
    </div>
</div> <!-- items -->

<%- include footer %>
