<!DOCTYPE html>
<%- include ../header %>

<h1>Admin Control Page</h2>

<a href='/hebi/carsubmit' class='btn btn-primary'>Car Infomation Submit</a>
<a href='/hebi/carmanage' class='btn btn-primary'>Car Infomation Manage</a>

<%- include ../footer %>
